.time18 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 100%;
  font-weight: 500;
}
.time-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-mid);
}
.explore-more-icon {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.explore-more-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.new {
  margin: 0;
  width: 52px;
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.02em;
  line-height: 100%;
  font-weight: 600;
  font-family: var(--font-open-sans);
  display: inline-block;
}
.frame-parent39 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
}
.notification1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 100%;
  font-weight: 700;
  font-family: inherit;
}
.notification-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 56px 0 0;
}
.reception-icon14 {
  width: 18.1px;
  height: 11px;
  position: relative;
}
.reception-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.battery-icon14,
.wifi-icon14 {
  height: 13px;
  width: 18px;
  position: relative;
}
.battery-icon14 {
  height: 12.5px;
  width: 26.6px;
  object-fit: cover;
}
.frame-parent42 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5.4px;
}
.mark-all {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 100%;
}
.frame-parent41 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 123px;
  font-size: var(--font-size-base);
  color: var(--black);
}
.frame-parent38,
.frame-parent40 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent40 {
  flex: 1;
  align-items: flex-start;
  gap: 39.5px;
  min-width: 172px;
  font-size: var(--font-size-7xl);
  color: var(--primary);
  font-family: var(--font-open-sans);
}
.frame-parent38 {
  align-self: stretch;
  align-items: flex-end;
  padding: 0 var(--padding-7xl) 11.7px 0;
  gap: 56.5px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--black);
  font-family: var(--font-poppins);
}
.rooms-icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.rooms-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-3) 0 0;
}
.corem-ipsum-dolor {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: -0.02em;
  line-height: 100%;
  color: var(--gray);
  z-index: 1;
}
.april-2025-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs-3);
}
.min {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 100%;
  z-index: 1;
}
.min-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) 0 0;
  font-size: var(--font-size-mini);
}
.frame-parent44 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-3xs-3);
  min-width: 185px;
}
.frame-parent43,
.frame-parent44,
.notification-inner,
.rectangle-parent12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent12 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-base-2) var(--padding-3xs) var(--padding-mini-5)
    var(--padding-6xl);
  position: relative;
  gap: var(--gap-12xl);
}
.frame-parent43,
.notification-inner {
  max-width: 100%;
}
.frame-parent43 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-12xl-7);
}
.notification-inner {
  width: 384.6px;
  flex-direction: row;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--black);
  font-family: var(--font-open-sans);
}
.image-container-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-lightcyan);
}
.image-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base-2) var(--padding-3xs) var(--padding-mini-5)
    var(--padding-6xl);
  position: relative;
  gap: var(--gap-12xl);
}
.frame-wrapper21 {
  flex-direction: column;
  padding: 5.4px 0 0;
}
.april-2025-parent3,
.fitness-placeholder,
.frame-parent47,
.frame-wrapper21 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.april-2025-parent3 {
  flex: 1;
  flex-direction: column;
  gap: 9.4px;
}
.fitness-placeholder,
.frame-parent47 {
  align-self: stretch;
}
.fitness-placeholder {
  flex-direction: row;
  padding: var(--padding-base-1) var(--padding-3xs) var(--padding-mini-5)
    var(--padding-6xl);
  position: relative;
  gap: var(--gap-12xl);
}
.frame-parent47 {
  flex-direction: column;
  gap: var(--gap-12xl-7);
}
.see-all5 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 100%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 70px;
}
.luxury-suites-content,
.see-all-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.see-all-wrapper {
  flex-direction: row;
  padding: 0 154px 0 152px;
  text-align: center;
}
.luxury-suites-content {
  flex-direction: column;
  gap: 56.4px;
  flex-shrink: 0;
  max-width: 100%;
}
.footer-inner {
  height: 93px;
  width: 376.6px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  display: none;
  max-width: 100%;
}
.footer-child1 {
  height: 70px;
  width: 70px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.drwanitha5,
.worem-consectetur-adipiscing9 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 100%;
  z-index: 1;
}
.drwanitha5 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.worem-consectetur-adipiscing9 {
  font-size: var(--font-size-xs);
  color: var(--green);
}
.drwanitha-parent2,
.frame-wrapper22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.drwanitha-parent2 {
  gap: var(--gap-2xs);
}
.frame-wrapper22 {
  flex: 1;
  padding: var(--padding-2xs) 0 0;
  font-size: var(--font-size-xl);
}
.guest {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--green);
  z-index: 1;
}
.room {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 100%;
  z-index: 2;
}
.testimonial-quotes {
  width: 20px;
  margin: 0 !important;
  position: absolute;
  right: 3px;
  bottom: -4px;
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-7xs) var(--padding-8xs);
  box-sizing: border-box;
  color: var(--white);
}
.footer-inner1,
.frame-parent51,
.testimonial-quotes {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent51 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
  gap: var(--gap-13xl-3);
}
.footer-inner1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs-5) 0 0;
  box-sizing: border-box;
  min-width: 161px;
}
.footer3 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  flex-direction: row;
  padding: var(--padding-xs-5) var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-8xl);
  flex-shrink: 0;
}
.footer-wrapper,
.footer3,
.luxury-suites-content-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.footer-wrapper {
  width: 376.6px;
  flex-direction: column;
  padding: 90.4px 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: var(--font-size-xs);
}
.luxury-suites-content-parent {
  width: 403.3px;
  flex-direction: row;
  gap: 84.5px;
}
.notification,
.notification-child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.notification-child {
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 var(--padding-9xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--black);
  font-family: var(--font-open-sans);
}
.notification {
  width: 100%;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-mini) 0 44.7px var(--padding-3xl);
  gap: var(--gap-12xl-7);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 409px) {
  .luxury-suites-content-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 408px) {
  .frame-parent38 {
    gap: var(--gap-9xl);
  }
}
@media screen and (max-width: 403px) {
  .luxury-suites-content-parent {
    gap: 42px;
  }
}
@media screen and (max-width: 377px) {
  .frame-parent43,
  .frame-parent47 {
    gap: var(--gap-base);
  }
  .luxury-suites-content {
    gap: var(--gap-9xl);
  }
}
@media screen and (max-width: 376px) {
  .see-all-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 375px) {
  .fitness-placeholder,
  .image-container,
  .rectangle-parent12 {
    gap: var(--gap-mini);
  }
}
@media screen and (max-width: 348px) {
  .frame-parent38 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 330px) {
  .rectangle-parent12 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 327px) {
  .fitness-placeholder,
  .image-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 325px) {
  .footer3 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 265px) {
  .frame-parent40 {
    gap: var(--gap-xl);
  }
}
